{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "editor.formatOnSave": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "interface",
    "(?=content|api)",
    "context/",
    "mock/",
    "config",
    "utils/",
    "hooks/",
    "(components/|./index)",
    ".svg",
    "^../(.*)$",
    "(?=./styles.module.scss)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
